.grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin:20px
}
.card{
    border:1px solid #ddd;
    padding : 15px;
    border-radius:10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1)
}
.card button{
    margin-right:10px;
}